SECRET_KEY="secret"
DATABASE_NAME='new_data'
DATABASE_PORT='3306'
DATABASE_HOST='localhost'
DATABASE_PASSWORD=''
DATABASE_USER='root'
API_URL='http://127.0.0.1:5000/'
INVOICE_URL='http://127.0.0.1:8050/'

LRS_DATABASE_NAME='hazlrs_20_04_21'
LRS_DATABASE_PORT='3306'
LRS_DATABASE_HOST='localhost'
LRS_DATABASE_PASSWORD=''
LRS_DATABASE_USER='root'

LRS_INVOICING_URL='#'
LRS_beartoken='#'
HAZLRS_API_URL ='#'


RATIES_DATABASE_NAME=''
RATIES_DATABASE_PORT=''
RATIES_DATABASE_HOST=''
RATIES_DATABASE_PASSWORD=''
RATIES_DATABASE_USER=''


INVOICE_FILE_DIR = 'C:\Users\admin\PycharmProjects\pexaratiesinvoicing\files'

SFTP_PRIVATE_KEY = 'final_key_id_rsa'
SFTP_KEY_PASS = 'upwork2020'
SFTP_KEY_PASS_ENABLE = 1

SFTP_ORDER_ARCHIVE = 'archive'
SFTP_SERVER = '192.168.1.20'
SFTP_USERNAME = 'sftp_user'
SFTP_PASSWORD = 'upwork2020'
SFTP_FOLDER = 'data'

SFTP_DOCUMENT = 'document'
SFTP_DOCUMENT_ARCHIVE = 'archive'