{% load timezone_changer %}
<!doctype html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>FORM {{ id }}</title>
       <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
      <style>
      
    body {
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        text-align: center;
        color: black;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    
    body .wrapper {
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 10px 20px;
        width: 9.8in;
        height: 13.7in;
        margin-top: 10px;
    }
    
    body .wrapper .top {
        width: 100%;
    }

    p{
        margin: 0px;
        padding: 0px;
        font-size: 9px;
    }
     h2{
        margin: 0px;
        padding: 0px;
        font-size: 18px;
        font-weight: bolder;
    }
    h3{
        margin: 0px;
        padding: 0px;
        font-size: 16px;
        font-weight: bolder;
    }
     h4{
        margin: 0px;
        padding: 0px;
               font-size: 16px;
        font-weight: bolder;
    }
    .label{
        font-size: 9px;
        text-align: left;
        padding: 2px;
    }
     .answer{
        font-size: 13px;
         height: 20px;
    }
    .answer_header{
        font-size: 16px;
        min-height: 16px;
    }
      .blank_space{
        height: 18px;
    }
          ul {
    font-size: 0;
              width: 900px;
}
li {
    display: inline-block;
    width: 100px;
    font-size: 30px;
    text-align: center;
}


      </style>
   </head>
   <body>
   {% for auth_request_ in auth_request %}
      <div class='wrapper'>
        <div>
          <div style="border: 1px solid black;padding: 5px">
                 <div class="blank_space"> </div>
              <table><tr><td></td></tr></table>
          <table width="100%">
              <tr >
                  <td style="border: 1px solid black;width: 600px">
                        <h2>PROPERTY INFORMATION INQUIRY FORM</h2>
                      <div style="float: left;height: 35px;padding-left: 5px;padding-right: 20px"><p>IMPORTANT</p></div><div style="text-align: left;">
                  <p>* SEE THE INFORMATION SHEET FOR DETAILS OF REQUIREMENTS</p>
 <p>* COMPLETE ALL PARTS AS REQUESTED</p>
 <p>* INSUFFICIENT INFORMATION MAY RESULT IN THE RETURN OF THE FORM</div>

                  </td>
                  <td style="width: 300px;border: 1px solid black;padding: 0px;margin: 0px">
                      <div style="border-bottom: 1px solid black">
                      <div class="label">OFFICE USE ONLY</div>
                          <div class="answer" style="text-align: left;"></div>
                          </div>

                        <div style="width: 100%">
                        <div  class="label" style="display:inline-block;text-align: left;width: 146px;border-right:1px solid black ">RECEIVED  </div>
                        <div  class="label" style="display:inline-block;width: 146px" >RECEIPT No.    </div>
                        <div>
                                <div  class="answer" style="display:inline-block;text-align: left;width: 146px;border-right:1px solid black ">  </div>
                        <div  class="answer" style="display:inline-block;width: 146px" ></div>
                        </div>
                        </div>

                      </td>
              </tr>
                   <tr >
                  <td style="text-align: left" >
                  <p><b>SECTION</b></p>
                  </td>
                </tr>

          </table>
              <table>
                     <tr >
                  <td style="text-align: left;width: 80px" >
                  <h4>To :</h4>
                      <div style="text-align: center">
                 <p >INSERT
                    AUTHORITY'S
                    FULL NAME &
                    ADDRESS</p>
</div>

                  </td>
                          <td style="text-align: left;width: 520px;border: 1px solid black" >
                                      <h3>{{ auth_request_.AuthNo.Auth}} </h3>
                <div class="answer_header">{{ auth_request_.AuthNo.AuthDX}}</div>
                              <div class="answer_header">{{ auth_request_.AuthNo.AuthSuburb}}</div>
                              <div class="answer_header"></div>
                              <div class="answer_header"></div>

                  </td>
                             <td rowspan="2" style="text-align: left;width: 300px;margin-left: 2px;border: 1px solid black" >
                                 <div style="float: left;height: 80px;width: 150px" class="label">CHEQUE
                                     <div style=";border-top: 1px solid black;border-right: 1px solid black">
                                 <div style="font-size: 7px">TICK THE APPROPRIATE BOX(ES) FOR
 CERTIFICATE/INFORMATION NEEDED
 (See Information Sheet for details)</div>
                                     <div class="row" style="width: 130px;margin-left: 10px">
                                         <div class="col-3"  style="height:45px ;width:30px ;border: 1px solid black;padding: 0px">ITEM <br>{{ auth_request_.CertTypeA|default_if_none:"" }}</div>
                                         <div class="col-3"  style="height:45px ;width:30px ;border: 1px solid black;padding: 0px">ITEM<br>{{ auth_request_.CertTypeB|default_if_none:"" }}</div>
                                         <div class="col-3"  style="height:45px ;width:30px ;border: 1px solid black;padding: 0px">ITEM<br>{{ auth_request_.CertTypeC|default_if_none:"" }}</div>
                                         <div class="col-3"  style="height:45px ;width:30px ;border: 1px solid black;padding: 0px">ITEM<br>{{ auth_request_.CertTypeD|default_if_none:"" }}</div>
                                     </div>
                                         </div>

                                 </div>
                                   <div style="display: inline-block;border-bottom: 1px solid black;padding: 5px"> <p style="font-size: 8px">DUTY STAMP $ </br>
                                        AFFIX NSW DUTY STAMP</br>
                                        ONLY IF ONE OF THE</br>
                                        FOLLOWING AGENCIES</br>
                                        * EDUCATION DEPARTMENT</br>
                                        * ROADS & TRAFFIC AUTHORITY </br>
                                        OF NSW </p>

                                            </div>
                                 <div style="border-bottom:1px solid black; ">ITEM DETAILS
                                 <div class="answer">{{ auth_request_.Comments }}</div></div>
                                 <div> APPLICANT'S REFERENCE
                                  <div class="answer">{{ EnquiryForm.Re}}</div></div>


                  </td>
                </tr>
                         <tr >
                  <td style="text-align: left;width: 80px" >
                  <h4>From :</h4>
                      <div style="text-align: center">
                 <p >INSERT APPLICANTS FULL NAME & ADDRESS</p></div>

                  </td>
                          <td style="text-align: left;width: 500px;border: 1px solid black" >
                              <h3>R. HAZLETT & CO AS AGENTS FOR</h3>
                  <div class="answer_header">Administrator</div>
                              <div class="answer_header">DX 1078 - LPI # 123257W:</div>
                              <div class="answer_header">GPO BOX 96 SYDNEY NSW 2001</div>
                  </td>

                </tr>
              </table>
              </div>

 <div class="blank_space" style="border: 1px solid black"> </div>
          <div style="border: 1px solid black;padding: 5px">

  <table width="100%">
              <tr>
                  <td style="text-align: left"><h3>SECTION 2</h3>
                      <p>PROPERTY LOCATION (Complete <b>ALL</b> lines)</p></td>
              </tr>
          </table>

                <table width="100%">
                         <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 1</p></td>
            <td style="text-align: left;width: 200px"><p>LOCAL COUNCIL NAME</p><div>{{ auth_request_.AuthNo.Auth }}</div></td>

            <td style="text-align: left;border: 1px solid black"> <p>PARISH</p><div>{{ EnquiryForm.Parish|default_if_none:" " }}</div></td>
             <td style="text-align: left"> <p>COUNTY</p><div>{{ EnquiryForm.County }}</div></td>
              </tr>
          </table>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 2</p></td>
            <td style="text-align: left;width: 300px"><p>LOCALITY (Suburb/Town/Village/District) </p><div class="answer">{{ EnquiryForm.Suburb }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>HOUSE No. </p><div class="answer">{{ EnquiryForm.HouseNumber }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>STREET NAME</p><div class="answer">{{ EnquiryForm.StreetName }}</div></td>
            </tr>
            </table>

            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 3</p></td>
            <td style="text-align: left;width: 200px"><p>NEAREST CROSS STREET(S) </p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>SIDE OF STREET</p><div class="answer">{{ EnquiryForm.StreetSide }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>STREET DIRECTORY: NAME & EDITION</p><div class="answer">{{ EnquiryForm.StreetDir|default_if_none:"" }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>MAP No. </p><div class="answer">{{ EnquiryForm.MapNo }}</div></td>
                <td style="text-align: left;border: 1px solid black"> <p>GRID REFERENCE</p><div class="answer">{{ EnquiryForm.GridRef }}</div></td>
            </tr>
            </table>

             <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 4</p></td>
            <td style="text-align: left;width: 200px"><p>FRONTAGE (Metres) </p><div class="answer">{{ EnquiryForm.Frontage }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>DEPTH (Metres)</p>{{ EnquiryForm.Depth }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>AREA (Sq M or ha) </p><div class="answer">{{ EnquiryForm.Area }}</div></td>
                <td style="text-align: left;border: 1px solid black"> <p>NATURE OF PROPERTY (Vacant Land/House/Factory/Units/Farm/Vendor's Residence/etc)</p><div class="answer">{{ EnquiryForm.Nature }}</div></td>
            </tr>
            </table>
                 <table width="100%">
                     <tr><td style="text-align: left;">LEGAL DESCRIPTIONS (Complete the <b>APPROPRIATE</b> line(s) in full to enable identification of the property)</td></tr>
            </table>
              <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 5</p></td>
           <td style="text-align: left;width: 200px"><p>LOT No. </p><div class="answer">{{ EnquiryForm.Lot }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>DEPOSITED PLAN No. (DP No.)</p><div class="answer">{{ EnquiryForm.DP }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>SECTION No. (If applicable) </p><div class="answer">{{ EnquiryForm.SectionNumber }}</div></td>
                <td style="text-align: left;border: 1px solid black"> <p>PREVIOUS PORTION No. (If Rural)</p><div class="answer">{{ EnquiryForm.PrevPorNo }}</div></td>
            </tr>
            </tr>
            </table>
               <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 6</p></td>
            <td style="text-align: left"><p>PORTION No. </p><div class="answer">{{ EnquiryForm.Por }}</div></td>
            </tr>
            </table>
                   <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 7</p></td>
           <td style="text-align: left"><p>ALLOTMENT No. </p><div class="answer">{{ EnquiryForm.Allot }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>SECTION No.</p><div class="answer">{{ EnquiryForm.AllotSec }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>TOWN/VILLAGE/ESTATE NAME</p><div class="answer">{{ EnquiryForm.Town }}</div></td>
            </tr>
            </tr>
            </table>
                    <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 8</p></td>
           <td style="text-align: left"><p>LOT No. </p><div class="answer">{{ EnquiryForm.SP }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>STRATA PLAN No.</p><div class="answer">{{ EnquiryForm.SPLot }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>LOT No (of Common Property)</p><div class="answer">{{ EnquiryForm.SPLotNumber }}</div></td>
                <td style="text-align: left;border: 1px solid black"> <p>D.P. No (of Common Property)</p><div class="answer">{{ EnquiryForm.SPDPNumber }}</div></td>
            </tr>
            </tr>
            </table>
              <div style="text-align: left">OTHER REFERENCES (Complete <b>BOTH</b> lines)</div>
                    <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 9</p></td>
           <td style="text-align: left"><p>FOLIO IDENTIFIER OR VOLUME/FOLIO</p><div class="answer">{{ EnquiryForm.FIVolFol }}</div>
            <td style="text-align: left;border: 1px solid black;width: 30px"> <p>or</p></td>
            <td style="text-align: left"><p>OLD SYSTEM DEED No</p><div><p style="display: inline-block;width: 150px;">BOOK:</p> <p style="display: inline-block">No.</p></div>
            <td style="text-align: left;border: 1px solid black;width: 30px"> <p>or</p></td>

                <td style="text-align: left;border: 1px solid black"> <p>OTHER eg Crown Tenure No. (Indicate)</p><div class="answer"></div></td>
            </tr>
            </tr>
            </table>
                    <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 10</p></td>
           <td style="text-align: left"><p>COUNCIL ASSESS OR VALUER GENERAL NO.</p><div class="answer">{{ EnquiryForm.AssesValGenNumber }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>WATERBOARD REF No.</p><div class="answer">{{ EnquiryForm.WaterBoardRef }}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>OTHER eg Rural Lands Protection Board</p><div class="answer"></div></td>
            </tr>
            </tr>
            </table>
            <div style="text-align: left">NEW SUBDIVISIONS (Supply details of the land before subdivision ONLY where the lot is part of a recent subdivision)</div>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 11</p></td>
            <td style="text-align: left"><p>SUBDIVIDER'S NAME</p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>STREET NAME (Before Subdivision)</p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>TOWN CLERK'S CERTIFICATE No.</p><div class="answer"></div></td>
            </tr>
            </tr>
            </table>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 12</p></td>
            <td style="text-align: left"><p>LOT No.</p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>PORTION No.</p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>DP No. </p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>SECTION No. </p><div class="answer"></div></td>
            <td style="text-align: left;border: 1px solid black"> <p>AREA &/or DIMENSIONSs</p><div class="answer"></div></td>
            </tr>
            </tr>
            </table>


            <div style="text-align: left">REGISTERED PROPRIETOR'S/VENDOR'S/PURCHASER'S DETAILS</div>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 11</p></td>
            <td style="text-align: left"><p>REGISTERED PROPRIETOR'S FULL NAME & ADDRESS</p><div class="answer">{{ EnquiryForm.RGNameAddress}}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>REGISTERED PROPRIETOR'S FULL NAME & ADDRESS</p><div class="answer"></div></td>
            </tr>
            </tr>
            </table>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 13</p></td>
            <td style="text-align: left"><p>VENDOR'S FULL NAME & ADDRESS (If Same as Registered Proprietor's on line 13 Write "As Above")</p><div class="answer">{{ EnquiryForm.VendorNameAddress}}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>PURCHASE PRICE</p><div class="answer">{{ EnquiryForm.PurPrice}}</div></td>
            </tr>
            </tr>
            </table>
            <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 25px"><p style="text-align: center">LINE </br> 14</p></td>
            <td style="text-align: left"><p>PURCHASER'S FULL NAME & ADDRESS</p><div class="answer">{{ EnquiryForm.PurNameAddress}}</div></td>
            <td style="text-align: left;border: 1px solid black"> <p>PURPOSE OF INQUIRY</p><div class="answer">{{ EnquiryForm.PurOfEnq}}</div></td>
            </tr>
            </tr>
            </table>
<div class="blank_space"> </div>
              <table width="100%">
            <tr style="border: 1px solid black">
            <td style="text-align: left;border: 1px solid black;width: 200px;"><p>APPLICANT'S SIGNATURE </p><div class="answer"></div></td>
                <td style="text-align: left;border: 1px solid black;width: 200px"><p>ACTING FOR (Vendor, Mortgagee, etc.)</p><div class="answer">{{ EnquiryForm.ActFor}}</div></td>
                <td style="text-align: left;border: 1px solid black;width: 140px"><p>DATE</p><div class="answer">{{ EnquiryForm.Date|to_sydney}}</div></td>
                <td style="text-align: left;border: 1px solid black;width: 180px"><p>PHONE No.</p><div class="answer">{{ EnquiryForm.Ph}}</div></td>
            <td style="text-align: left;border: 1px solid black;width: 180px"> <p>FAX No.</p><div class="answer">{{ EnquiryForm.Fax}}</div></td>
            </tr>
            </tr>
            </table>
<div class="blank_space"> </div>
</div>
      </div>
      </div>
   {% endfor %}
   </body>
</html>