{% load static %}
{% block url %}
<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Page 1</a></li>
          <li><a href="#">Page 2</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
      </div>
    </nav>
<!-- <p style="text-align:right; position:absolute; top:5px; right:465px;"><a href="{% url 'user:add_user' %}" >Add User</a></p>
      <p style="text-align:right; position:absolute; top:5px; right:335px;"><a href="{% url 'user:add_company' %}" >Add Company</a></p>
      <p style="text-align:right; position:absolute; top:5px; right:265px;"><a href="{% url 'product:order' %}" >Orders</a></p>
      <p style="text-align:right; position:absolute; top:5px; right:185px;"><a href="{% url 'product:price' %}" >Pricing</a></p>
      <p style="text-align:right; position:absolute; top:5px; right:85px;"><a href="{% url 'product:transaction' %}" >Transaction</a></p>
      <p style="text-align:right; position:absolute; top:5px; right:5px;"><a href="{% url 'user:logout' %}" >LOG OUT</a></p> -->
{% endblock url %}